* {
    color: black;
}

body {
    width: 60%;
    margin: auto;
    
}

main > p {
    color: red;
    display: inline-block;
}

/* HEADER */
header {
    margin: 5px 0px;
}

header > nav > table {
    width: auto;
    margin: auto;
}

header > nav > table tr td {
    padding: 5px 30px;
}

/* ADD TO LIBRARY, DELETE FROM LIBRARY */
.add-to-library, .delete-from-library {
    display: inline-block;
    margin-top: 10px;
    width: 200px;
    line-height: 20px;
    margin-right: 100px;
}

.add-to-library input, button, .delete-from-library input, button {
    width: 200px;
}

.add-to-library button, .delete-from-library button {
    margin-top: 5px;
}

.book-forms {
    display: inline-grid;
}

.book-added, .book-deleted {
    position: relative;
    color: rgb(230, 151, 3);
}

.book-added em {
    color: red;
}

.book-deleted em {
    color: blue;
}

/* LIBRARY */
.library-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    font-size: 16px;
    margin-bottom: 100px;
    padding: 2px;
}

.library-container div {
    background-color: rgb(0, 136, 255);
    padding: 10px;
    height: 150px;
    outline: 3px solid black;
}

.library-container img {
    height: 70px;
    padding-bottom: 10px;
}

/* ABOUT */
.blur-active {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.about-container {
    height: 600px;
    /* height: 100%; */
    /* margin-bottom: 100px; */
    /* margin-bottom: 100px; */
}

.about-message {
    position: absolute;
    background-color: rgb(226, 226, 226);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
}

.about-message p {
    padding-left: 20px;
}

.about-message a {
    color: blue;
}

.about-message a:hover {
    color: darkorange;
}

.mySQL-modal {
    text-decoration: underline;
    cursor: pointer;
}

.mySQL-login-container {
    display: none;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: rgb(249, 228, 192);
}

.mySQL-login-container > p {
    display: inline-block;
    margin-bottom: 0px;
}

.mySQL-login-container form {
    padding: 20px;
}

.mySQL-login-container form input:nth-child(2) {
    margin-right: 20px;
}

.mySQL-login-container form button {
    display: block;
    width: 50%;
    max-width: 300px;
    margin: 10px auto 0px;
}

.login-name {
    position: relative;
    float: right;
    color: blue;
}