* {
    color: black;
}

body {
    width: 60%;
    margin: auto;
}

main > p {
    color: red;
    display: inline-block;
}

/* HEADER */
header {
    margin: 5px 0px;
}

header > nav > table {
    width: auto;
    margin: auto;
}

header > nav > table tr td {
    padding: 5px 30px;
}

/* BOOK ADDED/DELETED */
.book-forms {
    display: inline-grid;
}

.book-added, .book-deleted, .close-button-deleted {
    color: rgb(230, 151, 3);
}

.book-added, .book-deleted {
    position: relative;
    margin: auto;
}

.book-added em {
    color: red;
}

.book-deleted em {
    color: blue;
}

/* LIBRARY */
.library-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    font-size: 16px;
    margin-bottom: 100px;
    padding: 2px;
}

.library-container > div {
    background-color: rgb(0, 136, 255);
    padding: 10px;
    height: 150px;
    outline: 3px solid black;
}

.library-container img {
    height: 70px;
    padding-bottom: 10px;
}

/* CLOSE BUTTON */
.close-button {
    background-color: black;
    color: white;
    font-weight: bolder;
    float: right;
    width: 20px;
    height: 20px;
    padding: 0px;
}

.close-button-deleted {
    display: none;
    font-weight: 900;
    float: right;
    font-style: italic;
    transform: translateX(-30px);
    transform: translateY(20px);
}

/* RESET LIBRARY */
.reset-library, .add-random-book {
    display: initial;
    float: right;
    transform: translateY(12px);
    width: 200px;
    margin-left: 10px;
}

/* LIBRARY ADD/DELETE */
.library-container > div:last-child {
    background-color: rgb(223, 223, 223);
}

.library-add-delete label {
    width: 100%;
}

.library-add-delete input, select {
    width: 300%;
}

.library-add-delete select {
    background-color: white;
    width: 307%;
}

.library-add-delete div {
    display: flex;
}

.library-add-delete div:last-child {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.library-add-delete div button {
    margin: 15px;
    width: 40%;
}

/* HOME */
.blur-active {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.home-container, .about-container {
    height: 600px;
    margin-bottom: 50px;
}

.home-message, .about-message {
    position: absolute;
    background-color: rgb(226, 226, 226);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
}

.home-message p, .about-message p {
    padding-left: 20px;
}

.home-message a, .about-message a {
    color: blue;
}

.home-message a:hover, .about-message a:hover {
    color: darkorange;
}

.mobile-message {
    padding-top: 20px;
    color: red;
    font-style: italic;
}

/* mySQL */
.mySQL-modal-link {
    text-decoration: underline;
    cursor: pointer;
}

.mySQL-login-container {
    visibility: hidden;
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: rgb(249, 228, 192);
}

.mySQL-login-container > p {
    display: inline-block;
    margin-bottom: 0px;
}

.mySQL-login-container form {
    padding: 20px;
}

.mySQL-login-container form input:nth-child(2) {
    margin-right: 20px;
}

.mySQL-login-container form button {
    display: block;
    width: 50%;
    max-width: 300px;
    margin: 10px auto 0px;
}

.login-name {
    position: relative;
    float: right;
    color: blue;
}

/* MOBILE */
@media (pointer:none), (pointer:coarse), (max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    main {
        display: inline-grid;
        grid-template-columns: 50vw 25vw 25vw;
    }

    main > div.library-container {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    main > p {
        display: inline-block;
        height: 10vw;
        margin: 0;
        padding: 0 0 0 2vw;
        font-size: 6vw;
    }

    /* HEADER */
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vw;
        vertical-align: middle;
    }

    header > nav > table tr td {
        font-size: 6vw;
    }

    /* LIBRARY */
    .library-container {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 4.5vw;
    }
    
    .library-container > div {
        height: 25vh;
        padding: 2vw;
        position: relative;
    }

    .library-container img {
        height: 10vh;
        padding-bottom: 0vh;
    }

    /* CLOSE BUTTON */
    .close-button {
        width: 6vw;
        height: 6.5vw;
        font-size: 4vw;
    }

    .close-button-deleted {
        position: absolute;
        float: right;
        top: 10vw;
        right: 2vw;
        font-size: 3.8vw;
        margin: 0px;
    }

    /* RESET LIBRARY */
    .reset-library, .add-random-book {
        transform: translateY(-1vh);
        font-size: 3.5vw;
        width: fit-content;
        padding: 0vw .5vw;
        margin: 0 0 0 2vh;
        border-color: black;
        border-radius: 1vw;
    }

    .reset-library {
        margin-right: 2vw;
    }

    /* LIBRARY ADD/DELETE */
    .library-add-delete label {
        width: 50%;
    }
    
    .library-add-delete input, select {
        width: 100%;
        font-size: 3vw;
    }

    .library-add-delete select {
        width: 107%;
        border-color: grey;
        border-radius: .6vw;
    }

    .library-add-delete div:last-child {
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    
    .library-add-delete div button {
        margin-top: 1vh;
        width: 40%;
        height: 4vh;
        font-size: 3vw;
        font-weight: 500;
        border-color: black;
        border-radius: 1vw;
        background-color: rgb(234, 230, 230);
    }

    .book-added, .book-deleted {
        margin: 2.5vh 0; 
    }

    /* HOME */
    .blur-active {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }

    .home-container, .about-container {
        height: 65vh;
    }

    .home-message, .about-message {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100vw;
        font-size: 3.2vw;
    }

    .home-message a, .about-message a {
        color: blue;
    }

    .home-message a:hover, .about-message a:hover {
        color: darkorange;
    }

    .mobile-message {
        display: none;
    }

    /* mySQL */
    .mySQL-login-container {
        width: 95vw;
        height: 15vh;
        top: 30vh;
        font-size: 3.5vw;

    }
    .mySQL-login-container form label {
        padding-top: 2vh;
    }

    .mySQL-login-container form input {
        display: inline-block;
        width: 25vw;
        height: 4vw;
        top: 0px;
        font-size: 3.2vw;
    }

    .mySQL-login-container form button {
        margin-top: 2vh;
        padding: 1vw auto;
        display: block;
        height: 5vw;
        font-size: 3.0vw;
        font-weight: normal;
    }
}